<ion-view title="Home">
  <ion-content class="has-header padding">
    
    <section id="basic-timer">
      <h3>
        <timer>{{millis}}</timer>
      </h3>
      <button class="btn" onclick="startTimer('basic-timer')" type="button">Start</button>
      <button class="btn" onclick="stopTimer('basic-timer')" type="button">Stop</button>
    </section>
    
    <section id="clock-timer">
      <h3>
        <timer interval="1000">{{hours}} hours<br />{{minutes}} minutes<br />{{seconds}} seconds</timer>
      </h3>
    
      <button onclick="stopResumeTimer('clock-timer', this)" type="button">Stop</button>
    </section>
   
    <section id="progressbar-timer">
      <h3>
        <timer>
          <div class="progress-bar">
            <div class="progress" style="width: {{millis/5700}}%;"></div> 
          </div>
        </timer>
      </h3>
      <button class="btn" onclick="startTimer('progressbar-timer')" type="button">Start</button>
      <button class="btn" onclick="stopTimer('progressbar-timer')" type="button">Stop</button>
    </section>
  
  </ion-content>
</ion-view>