<ion-view title="Timer">
  <ion-nav-buttons side="left">
    <button class="button-icon icon ion-close" ng-click="goBack()"></button>
  </ion-nav-buttons>
  
  <ion-content class="has-header padding">
    <h1>Your Goal: {{duration}}</h1>
    <h3>
      <timer interval="1000">{{minutes}} minutes, {{seconds}} seconds</timer>
    </h3>
    
    <section id="clock-timer">
      <timer>
        <div class="progress-bar">
          <div class="progress" style="width: {{(millis/result)| number:2}}%;"></div> 
        </div>
      </timer>
      
      <button class="button" ng-click="timerToggle($event.target)" type="button">◼︎</button>
    </section>
  </ion-content>
</ion-view>
