section {
  margin: 2em 0;
  
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.progress-bar {
  background: lightgray;
  height: 50px;
  margin-bottom: 1em;
}
.progress {
  background: gray;
  height: 100%;
  max-width: 100% !important;
}

#goal {
  input[type="text"] {
    border: 1px solid lightgray;
    padding: 0 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
}